/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Hind');

/* vars */
:root {
    --maincolor: #001f3f;
    --mainfont: 'Hind', sans-serif;
}
/* END vars */

html {
    height: 100%;
    scroll-behavior: smooth;
    letter-spacing: 0.05rem;
}

.logo {
    width: 75%;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.special {
    list-style: none;
}

.avatar {
    border-radius: 50%;
    width: 70%;
}

.title {
    display: block;
}

.btn {
    text-transform: uppercase;
    margin: 2%;
}

.heading {
    text-transform: uppercase;
    text-align: center;
}

    .heading:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 10%;
        padding-top: 2%;
        border-bottom: 8px solid #E84A27;
    }

.point {
    text-transform: uppercase;
    text-align: center;
}

    .point:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 20%;
        padding-top: 2%;
        border-bottom: 8px solid #13294b;
    }

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 5%;
}

.copyright {
    text-align: center;
    color: #13294b;
    margin-bottom: 2%;
}

.copylink {
    color: #13294b;
}

    .copylink:hover {
        text-decoration: none;
        color: #E84A27;
    }

.icon {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 50%;
}

    .icon:hover {
        background: darkgrey;
        border-radius: 50%;
        transition: all 0.2s ease 0s;
    }